<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ heading }}</title>
  </head>
  <body>
    <h1>{{ heading }}</h1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur labore
    sapiente tempore adipisci tenetur modi repellat voluptatem sint autem
    repudiandae deserunt quaerat natus quod rem eveniet ex sed, quos nihil.
    <form action="" method="post">
      {% csrf_token %}
      <button type="submit">POST</button>
    </form>
  </body>
</html>
